#letters {
    display: none;
    height: 100%;
}

#letters ul {
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

#letters li {
    background: #ebebeb;
    border-radius: 12px;
    box-shadow: 0 0 6px 2px rgba(0,0,0,0.5);
    float: left;
    height: 100%;
    list-style: none;
    margin-right: 1%;
    overflow: hidden;
}

#puzzle {
    bottom: 55%;
}

#solution {
    top: 55%;
}

span {
    display: block;
}

#solution span {
    display: none;
}

#cat {
    position: absolute;
    width: 100%;
}

.button {
    height: 100%;
}
