#flaggen {
    bottom: 32%;
    left: 15%;
    right: 15%;
    top: 32%;
}

#flag {
    background-size: 100% 100%;
    box-shadow: 0 0 6px 2px #93b837; 
    display: none;
    height: 100%;
    left: 30%;
    outline: none;
    position: absolute;
    right: 30%;
}

#solution {
    bottom: 10%;
    height: 16%;
    position: absolute;
    right: -100%;
    text-align: center;
    width: 100%;
}
