#flaggen {
    bottom: 32%;
    left: 15%;
    right: 15%;
    top: 32%;
}

#flag {
    background-size: 100% 100%;
    display: none;
    height: 100%;
    left: 30%;
    outline: none;
    position: absolute;
    right: 30%;
}

#solution {
    bottom: 10%;
    font-size: 86px;
    height: 16%;
    position: absolute;
    left: 100%;
    text-align: center;
    width: 100%;
}

.button {
    height: 100%;
}
