.wrapper {
    bottom: 2%;
    left: 2%;
    right: 2%;
    top: 2%;
}

#start {
    height: 40%;
    left: 15%;
    position: absolute;
    right: 15%;
    top: 30%;
}

#game {
    display: none;
    height: 100%;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

#question {
    background: rgba(255,255,255,0.2);
    border: 6px solid #8a8f97;
    border-radius: 16px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5), 3px 3px 5px rgba(0,0,0,0.2) inset;
    height: 25%;
    padding: 6px;
}

#info {
    color: #8a8f97;
    font-style: italic;
    height: 6%;
    margin-top: 1%;
}

#time {
    bottom: 0;
    font-size: 52px;
    margin-top: 3%;
    position: absolute;
    text-shadow: 2px 2px 0 #ebebeb, 2px -2px 0 #ebebeb, -2px 2px 0 #ebebeb, -2px -2px 0 #ebebeb;
    width: 100%;
}

.player {
    background: rgba(0,0,0,0.3);
    border: 6px solid #4e535c;
    border-radius: 16px;
    bottom: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.5), 3px 3px 5px rgba(0,0,0,0.2) inset;
    height: 58%;
    position: absolute;
    text-shadow: 2px 2px 0 #ebebeb, 2px -2px 0 #ebebeb, -2px 2px 0 #ebebeb, -2px -2px 0 #ebebeb, 0 0 10px rgba(0,0,0,0.8);
    width: 30%;
}

.player div {
    color: #000;
    display: none;
}

.player.blue {
    color: #09f;
    left: 0;
}

.player.red {
    color: #f00;
    right: 0;
} 

#continue, #submit {
    position: absolute;
}

#continue {
    bottom: 20%;
    left: 35%;
    right: 35%;
}

#submit {
    bottom: 0;
    left: 40%;
    right: 40%;
}

#mapwrap {
    background: #ebebeb;
    border: 1px solid white;
    border-radius: 8px;
    bottom: 90px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    left: 0;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
}

#map {
    border-radius: 3px;
    height: 100%;
    overflow: hidden;
}

.info {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 6px 0px #000;
    display: none;
    font-size: 42px;
    height: 80px;
    left: 16px;
    line-height: 80px;
    position: absolute;
    text-align: center;
    width: 200px;
}

.info.blue {
    color: #09f;
    top: 16px;
}

.info.red {
    color: #f00;
    top: 112px;
}

#scoreboard {
    bottom: 0;
    position: absolute;
    width: 100%;
}
