.wrapper {
    bottom: 2%;
    left: 2%;
    right: 2%;
    top: 2%;
}

#start {
    height: 40%;
    left: 15%;
    position: absolute;
    right: 15%;
    top: 30%;
}

#game {
    display: none;
    height: 100%;
    text-shadow: 1px 1px 3px #93b837;
}

#question {
    background: #d2ff5b;
    border-radius: 16px;
    box-shadow: 0 0 6px 2px #93b837;
    height: 25%;
    padding: 6px;
}

#info {
    color: #51761f;
    font-style: italic;
    height: 6%;
    margin-top: 1%;
}

#time {
    height: 10%;
    margin-top: 3%;
}

.player {
    background: #a4c62d;
    border: 2px solid #51761f;
    border-radius: 16px;
    box-shadow: 0 0 6px 2px #93b837;
    height: 58%;
    margin-top: 3%;
    text-shadow: 2px 2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #FFF, -2px -2px 0 #fff;
    width: 30%;
}

.player div {
    color: #000;
    display: none;
    text-shadow: none;
}

.player.blue {
    color: #09f;
    float: left;
}

.player.red {
    color: #f00;
    float: right;
} 

#continue, #submit {
    position: absolute;
}

#continue {
    bottom: 20%;
    display: none;
    height: 8%;
    left: 35%;
    right: 35%;
}

#submit {
    height: 7%;
    bottom: 0;
    left: 40%;
    right: 40%;
}

#map {
    border: 2px solid #fff;
    border-radius: 16px;
    box-shadow: 0 0 6px 2px #93b837;
    height: 90%;
    overflow: hidden;
    width: 100%;
}

#map.audience {
    bottom: 90px;
    height: auto;
    position: absolute;
    top: 0;
}

.info {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 6px 0px #000;
    display: none;
    font-size: 42px;
    height: 80px;
    left: 16px;
    line-height: 80px;
    position: absolute;
    text-align: center;
    width: 200px;
}

.info.blue {
    color: #09f;
    top: 16px;
}

.info.red {
    color: #f00;
    top: 112px;
}

#scoreboard {
    bottom: 0;
    position: absolute;
    width: 100%;
}
