.wrapper {
    bottom: 2%;
    left: 2%;
    right: 2%;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    top: 2%;
}

#mapwrap {
    background: #ebebeb;
    border: 1px solid white;
    border-radius: 8px;
    bottom: 90px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    left: 0;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
}

#map {
    border-radius: 3px;
    height: 100%;
    overflow: hidden;
}

#game {
    display: none;
    height: 100%;
}

.info {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 6px 0 #000;
    display: none;
    font-size: 42px;
    height: 80px;
    left: 16px;
    line-height: 80px;
    position: absolute;
    text-align: center;
    width: 200px;
}

.info.blue {
    color: #09f;
    top: 16px;
}

.info.red {
    color: #f00;
    top: 112px;
}

#scoreboard {
    bottom: 0;
    height: 74px;
    position: absolute;
    width: 100%;
}

#submit {
    bottom: 0;
    left: 50%;
    margin-left: -200px;
    position: absolute;
    right: 40%;
    width: 400px;
}